.page_404{
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_404 h1 {
    font-size: 10rem;
    text-shadow:
        -2px -2px 0 var(--couleur-texte-footer),
         2px -2px 0 var(--couleur-texte-footer),
        -2px  2px 0 var(--couleur-texte-footer),
         2px  2px 0 var(--couleur-texte-footer);
    text-align: center;
    margin-bottom: 20px;
}
.page_404 h2 {
    font-size: 5rem;
    text-shadow:
        -2px -2px 0 var(--couleur-texte-footer),
         2px -2px 0 var(--couleur-texte-footer),
        -2px  2px 0 var(--couleur-texte-footer),
         2px  2px 0 var(--couleur-texte-footer);
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--texte-titre);
}

.page_404 .btn_retourner {
    display: inline-block;
    padding: 12px 25px;
    background-color: black;        
    color: white;                   
    font-family: var(--texte-titre);            
    text-decoration: none;
    border: 3px solid;        
    box-shadow: 4px 4px 0 black;    
    text-align: center;
    cursor: pointer;
}

/* Mobile responsive */
@media (max-width: 900px) {
    .page_404 h1 {
        font-size: 6rem;
    }

    .page_404 h2 {
        font-size: 3rem;
    }

    .page_404 .btn_retourner {
        padding: 10px 20px;
        font-size: 1rem;
        box-shadow: 3px 3px 0 black;
    }
}

