.page_404{
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_404 h1 {
    font-size: 5rem;
    text-shadow:
        -2px -2px 0 var(--couleur-texte-footer),
         2px -2px 0 var(--couleur-texte-footer),
        -2px  2px 0 var(--couleur-texte-footer),
         2px  2px 0 var(--couleur-texte-footer);
    text-align: center;
    margin-bottom: 20px;
}

.page_404 .btn_retourner {
    display: inline-block;
    padding: 12px 25px;
    background-color: black;        
    color: #fff;                   
    font-family: var(--texte-titre);            
    text-decoration: none;
    border: 3px solid;        
    box-shadow: 4px 4px 0 black;    
    text-align: center;
    cursor: pointer;
}

