/*--------------------------------------------------------------
// Styles pour la page d'accueil avec le jeu Snake en mobile
--------------------------------------------------------------*/
.Accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--couleur-fond);
    position: relative;
    overflow: hidden;
    letter-spacing: 0.1em;
}

.Accueil .snake-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Accueil canvas {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Bloc des instructions (Modale) - Positionnement TOP */
.Accueil .instructions {
    position: absolute;
    text-align: center;
    color: var(--couleur-texte-blanc);
    font-family: var(--texte-titre);
    z-index: 10;
    /* Position mobile par défaut */
    top: 30%; 
    left: 50%; 
    transform: translateX(-50%); /* Centrage horizontal uniquement */
}

/* Styles pour les éléments DANS .instructions */
.Accueil .instructions h2 {
    font-family: var(--texte-titre);
    color: var(--couleur-texte-blanc);
    font-size: 2.4rem;
    letter-spacing: 0.1em;
    background-color: var(--acceuil-couleur-texte-fond);
    padding: 0.5rem 1rem;
    border-radius: 12px;
}

.Accueil .instructions .instructions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--acceuil-couleur-texte-fond); 
    border-radius: 12px;
}

.Accueil .instructions .instructions-titre {
    font-size: 2.2rem;
    padding: 1rem;
}

.Accueil .instructions p {
    font-size: 1.4rem;
    color: var(--couleur-texte-blanc);
}

.Accueil .instructions .instructions-body {
    padding: 1rem;
}

.Accueil .instructions .controls-display {
    display: flex;
    gap: 2rem;
    padding-bottom: 1rem; 
}

/* --- affichage des commandes --- */
.Accueil .instructions .controls-desktop {
    display: none; 
}
.Accueil .instructions .controls-mobile {
    display: block; 
}
.Accueil .instructions .control-section {
    text-align: center;
}
/*---------------------------------*/

.Accueil .instructions .control-section h4 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    font-family: var(--texte-default);
    color: var(--couleur-texte-blanc);
}

.Accueil .instructions .commands-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Accueil .instructions .separator {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.Accueil .instructions .key-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.Accueil .instructions .command-group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.Accueil .instructions .key {
    display: inline-block;
    background-color: #555;
    color: white;
    padding: 0.1rem 0.4rem;
    border-radius: 4px;
    font-family: monospace; 
    min-width: 1.5rem;
    text-align: center;
    border: 1px solid #777;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); 
    transition: 0.2s;
}

.Accueil .instructions .key-desc {
    font-family: var(--texte-default);
    font-size: 1.2rem;
    
}


/* Bouton Arrêter (Positionné par le CSS) */
.Accueil #stopButton {
    position: absolute;
    top: 2%; 
    left: 2%; 
    z-index: 10;
    
    background-color: var(--acceuil-couleur-bouton-quitter); 
    color: var(--couleur-texte-blanc);
    font-size: 1.6rem;
    letter-spacing: 0.1em;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: var(--texte-titre);
}

.Accueil #stopButton:hover {
    background-color: var(--acceuil-couleur-bouton-quitter-hover);
}


/* Conteneur des Boutons (Positionné par le CSS) */
.Accueil .boutton-container {
    position: absolute;
    bottom: 30%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    gap: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

/* Styles des boutons */
.Accueil #startButton, .Accueil #quitButton {
    background-color: var(--acceuil-couleur-bouton-jouer);
    color: var(--couleur-texte-blanc);
    font-size: 2rem;
    letter-spacing: 0.1em;
    padding: 0.6rem 1rem;
    z-index: 10;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s ease;
    font-family: var(--texte-titre);
}

.Accueil #startButton:hover {
    background-color: var(--acceuil-couleur-bouton-jouer-hover);
}

.Accueil #quitButton {
    background-color: var(--acceuil-couleur-bouton-quitter);
}

.Accueil #quitButton:hover {
    background-color: var(--acceuil-couleur-bouton-quitter-hover);
}


/*--------------------------------------------------------------
// Styles pour les tablettes (MIN-WIDTH: 600px)
--------------------------------------------------------------*/
@media (min-width: 600px) {
    .Accueil .instructions {
        top: 20%; 
    }
    
    .Accueil .instructions h2 { font-size: 3rem; }
    .Accueil .instructions p { font-size: 1.8rem; }
    .Accueil .instructions .control-section h4 { font-size: 1.6rem; }

    .Accueil #startButton, .Accueil #quitButton {
        font-size: 2rem;
        padding: 0.8rem 1.4rem;
    }
    
    .Accueil .boutton-container {
        bottom: 25%; 
    }
}


/*--------------------------------------------------------------
// Styles pour Desktops (MIN-WIDTH: 1024px)
--------------------------------------------------------------*/
@media (min-width: 1024px) {
    .Accueil .instructions {
        top: 15%; 
    }
    
    .Accueil .instructions h2 { font-size: 4rem; }
    .Accueil .instructions p { font-size: 2rem; }
    .Accueil .instructions .control-section h4 { font-size: 2rem; }
    
    .Accueil #startButton, .Accueil #quitButton {
        font-size: 2.2rem;
        padding: 1rem 2rem;
    }
    
    .Accueil .boutton-container {
        bottom: 20%; 
    }

    /* gestion de l'affichage */
    .Accueil .instructions .controls-desktop {
        display: block; 
    }
    .Accueil .instructions .controls-mobile {
        display: none; 
    }
    .Accueil .instructions .control-section {
        text-align: center; 
    }
}