/*--------------------------------------------------------------
// Styles pour la page d'accueil avec le jeu Snake en mobile
--------------------------------------------------------------*/
.Accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--couleur-fond);
    position: relative;
    overflow: hidden;

    .snake-container {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;    
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    // Bloc des instructions + bouton
    .instructions {
        position: absolute;
        text-align: center;
        color: #E6E6E6;
        font-family: var(--texte-titre);
        z-index: 10;
        top: 15%;

        h2 {
            color: #E6E6E6;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            color: #E6E6E6;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 0 1rem 0;
            li {
                font-size: 1rem;
                line-height: 1.4;
            }
        }
    }

    .boutton-container {
        position: absolute;
        bottom: 15%;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 10;
    }

    #startButton {
        background-color: #00b894;
        color: #E6E6E6;
        font-size: 1.2rem;
        padding: 0.6rem 1rem;
        z-index: 10;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.5s ease;
        font-family: var(--texte-titre);

    }

    #startButton:hover {
        background-color: #019875;
    }

    #quitButton {
        background-color: #d63031;
        color: #E6E6E6;
        font-size: 1.2rem;
        padding: 0.6rem 1rem;
        z-index: 10;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: 0.5s ease;
        font-family: var(--texte-titre);
        margin-left: 1rem;
    }
    #quitButton:hover {
        background-color: #c0392b;
    }
}


/*--------------------------------------------------------------
// Styles pour les tablettes
--------------------------------------------------------------*/
@media (min-width: 600px) {
    .Accueil {
        .instructions {
            p {
                font-size: 1.4rem;
            }

            li {
                font-size: 1.2rem;
            }
        }

        #startButton {
            font-size: 1.4rem;
            padding: 0.8rem 1.5rem;
        }
    }
}


/*--------------------------------------------------------------
// Styles pour Desktops
--------------------------------------------------------------*/
@media (min-width: 1024px) {
    .Accueil {
        .instructions {
            p {
                font-size: 1.6rem;
            }

            li {
                font-size: 1.3rem;
            }
        }

        #startButton {
            font-size: 1.8rem;
            padding: 1rem 2rem;
        }
    }
}
