/* --- Footer flottant au-dessus --- */
footer {
    position: absolute;       /* flotte au-dessus des autres éléments */
    bottom: 0.5%;               /* collé en bas de la page */
    left: 0;
    width: 100%;              /* prend toute la largeur */
    display: flex;
    flex-direction: column;
    z-index: 100;             /* doit être supérieur à l'élément dessous */
    overflow: hidden;         /* canvas reste à l'intérieur */
}

/* Wrapper interne du footer */
footer > div {
    width: 100%;
    position: relative;
    z-index: 0;               /* contenu au-dessus du canvas */
}

footer h2 {
    color: var(--footer-couleur-logo);
}

/* --- Zone supérieure --- */
.dessus {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    column-gap: 33vw;
    margin-left: 10px;
}

/* Adresse du collège */
.adresse {
    display: flex;
    font-size: 18px;
    margin-left: 10px;
    padding-left: 20px;
}

/* Zone inférieure */
.dessous {
    position: relative;
    bottom: 0;                /* pas de décalage inutile */
}

/* Section Nous Joindre */
.nous-joindre {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 12px;
    padding-left: 20px;
}

/* Médias sociaux */
.medias-sociaux {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-left: auto;
    padding-right: 20px;
}

.titre-medias-sociaux {
    display: none;
}

/* Icônes sociales */
.footer-icones-sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    margin-top: 5px;
}

.footer-icones-sociales a {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.footer-icones-sociales img.icone-sociale {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* --- Responsive ≥ 432px --- */
@media screen and (min-width: 432px) {
    footer{
        bottom: 1%;  
    }

    .dessus {
        justify-content: center;
        text-align: center;
    }

    .medias-sociaux {
        margin-left: 0;
        padding-right: 0;
    }

    .nous-joindre {
        font-size: large;
    }

    /* Icônes sociales */
    .footer-icones-sociales {
        flex-direction: row;
        row-gap: 0;
        column-gap: 15px;
    }

    .footer-icones-sociales a {
        width: 40px;
        height: 40px;
    }

    .footer-icones-sociales img:hover {
        filter: brightness(20);
        scale: 1.2;
    }

    .adresse {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;
    }

    .titre-medias-sociaux {
        display: block;
    }
}
