footer{
    position: relative;
    top: 100px;
    background-color: var(--footer-couleur-fond);
    display: flex;
    z-index: 1;
}
footer div{
    width: 100%;
}

footer h2{
    color: var(--footer-couleur-logo);
}

// Éléments avant l'adresse du collège
.dessus{
    column-gap: 33vw;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}

// L'adresse du collège
.dessous{
    display: flex;
    text-align: center;
    justify-content: center;
}

// Section Nous Joindre
.nous-joindre{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

// Section Médias Sociaux
.medias-sociaux{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-icones-sociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
}

.footer-icones-sociales a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.footer-icones-sociales img.icone-sociale {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.vague {
    width: 100%;
    height: auto;
    display: block;
}

#visual #wave {
    transition: d 1000ms cubic-bezier(0.16, 1, 0.3, 1);
    display: block;
}

@media screen and (min-width: 432px){
    .vague {
        width: 100%;
        height: auto;
        display: block;
    }

    .footer-icones-sociales a img:hover {
        filter: brightness(20);
        scale: 1.2;
    }
}