footer{
    position: relative;
    top: 100px;
    background-color: var(--footer-couleur-fond);
    display: flex;
}

footer h2{
    color: var(--footer-couleur-logo);
}

.footer-icones-sociales {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.footer-icones-sociales a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.footer-icones-sociales img.icone-sociale {
    width: 100%;
    height: 100%;
    object-fit: contain;
}