
 
    /**************************************************************************************************************/
    /* Conteneur Grid */
    .grid-menu {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1.2fr;
      width: 70%;
      margin: 0 auto;
      gap: 0;
      height: 100vh;
    }

    /* Base style for all items */
    .menu-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      border: 1px solid var(--liens-couleur-logo);
      font-size: 2rem;
      text-decoration: none;
      overflow: hidden;
      position: relative;
      transition: background-color 0.3s ease;
      font-family: var(--texte-titre);
    }

    .menu-item .icon {
      font-size: 2rem;
      transition: opacity 0.3s ease;
    }

    .menu-item .text {
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      text-align: center;
      padding: 0 5px;
      
    }
    
    .menu-item:hover .icon {
      opacity: 0;
    }

    .menu-item:hover .text {
      opacity: 1;
      transform: translateY(-10px);
    }

    .menu-item:hover {
      background-color: var(--liens-couleur-section);
      color: black;
    }

    /* variation du grid */
    .menu-item:nth-child(1) { grid-column: span 2; grid-row: span 2; }
    .menu-item:nth-child(4) { grid-column: span 2; }
    .menu-item:nth-child(7) { grid-column: span 2; grid-row: span 2;}
    .menu-item:nth-child(8) { grid-column: span 2; grid-row: span 2; }
    .menu-item:nth-child(11){ grid-column: span 2; }

    //* Tablette et mobile */
@media (max-width: 900px) {
  .grid-menu {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 320px; 
    width: 90%;
    height: auto;
    gap: 12px;
  }

  /* Réinitialisation de tous les items du menu pour mobile */
  .grid-menu .menu-item {
    grid-column: auto;
    grid-row: auto;
    font-size: 1.5rem;
  }

  /* Icône toujours visible sur mobile */
  .menu-item .icon {
    opacity: 1;
  }

  /* Texte toujours visible sur mobile */
  .menu-item .text {
    opacity: 1;
    transform: translateY(0);
  }

  /* Désactiver les effets hover sur mobile */
  .menu-item:hover .icon,
  .menu-item:hover .text {
    opacity: 1;
    transform: translateY(0);
  }
}
