.titre-section {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: black;
    text-align: center;
    z-index: 10;
    pointer-events: none;
    font-size: 55px;
    font-family: var(--texte-titre), sans-serif;
}
@media screen and (min-width: 432px) {
    .titre-section {
        white-space: nowrap;
        top: 65%;
        left: 50%;
        font-size: 85px;
        letter-spacing: 0.1em;
    }
}

// Animation
@keyframes flicker {
    0%   { opacity: 1; filter: brightness(1.05); }
    25%  { opacity: 0.9; filter: brightness(0.95); }
    50%  { opacity: 0.95; filter: brightness(1.05); }
    75%  { opacity: 0.9; filter: brightness(0.98); }
    100% { opacity: 1; filter: brightness(1.05); }
}


.wrapper {
    width: 100%;
    height: 33vh; /* hauteur du canvas */
    position: relative;
}
.wrapper separateur-canevas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute; /* pour remplir le conteneur */
    top: 0;
    left: 0;
    z-index: 1;
}