.pixel {
    display: block;
    // background-color: orange;
    width: 20px;
    height: 20px;
    animation: flicker 4s infinite ease-in-out;
    transition: opacity 0.3s ease-out, filter 0.3s ease-out;
}

.parent-pixel.hovered{
    filter: brightness(10);
}
 
.conteneur-separateur{
    display: flex;
    justify-content: center;
    gap: 2px;
}
.grand-conteneur-separateur {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.titre-section {
    position: absolute;
    top: 75%;
    left: 10%;
    transform: translate(-50%, -120%);
    color: black;
    font-size: 4rem;
    text-align: center;
    z-index: 10;
    pointer-events: none;
}

#separateur-1 .pixel{
    background-color: var(--liens-couleur-section);
}
#separateur-2 .pixel{
    background-color: var(--personnes-couleur-section);
}
#separateur-3 .pixel{
    background-color: var(--docs-couleur-section);
}

@keyframes flicker {
    0%   { opacity: 1; filter: brightness(1.05); }
    25%  { opacity: 0.9; filter: brightness(0.95); }
    50%  { opacity: 0.95; filter: brightness(1.05); }
    75%  { opacity: 0.9; filter: brightness(0.98); }
    100% { opacity: 1; filter: brightness(1.05); }
}