/*--------------------------------------------------------------
# Couleur
--------------------------------------------------------------*/

/* Couleurs globales */
:root {
  --couleur-fond: #0D1220;
  --couleur-texte-default: #000000;
  --couleur-texte-blanc: #e6e6e6;
  --couleur-texte-titre: #000000;
  --couleur-texte-fond-acceuil: rgba(255, 255, 255, 0.5);
  --couleur-texte-footer: #E6E6E6;
}

/* Couleurs navigation */
:root {
  --nav-recherche-couleur-fond: #e6e6e6;
  --nav-recherche-couleur-contour: #000000;
}

/* Couleurs des sections */
:root {
  --liens-couleur-section: #3DADFF;
  --liens-couleur-hover-section: #007AD2;

  --personnes-couleur-section: #FF9500;
  --personnes-couleur-hover-section: #CB7600;

  --docs-couleur-section: #63CF75;
  --docs-couleur-hover-section: #3E9B4B;
}

/* Couleurs composants section acceuil */
:root {
  --snake-couleur-Logo-TIM-Contour: #141414;
  --snake-couleur-Logo-TIM-Interieur: #D9D9D9;
  --snake-couleur-grille: rgba(255, 255, 255, 0.1);
  --snake-couleur-nourriture: #c4c4c4;
  --snake-couleur-tete: #317032;
  --snake-couleur-corps: #7FC765;
  --snake-couleur-lumiere: #434c5f;

  --acceuil-couleur-bouton-jouer: #00b894;
  --acceuil-couleur-bouton-jouer-hover: #01755a;
  --acceuil-couleur-bouton-quitter: #d63031;
  --acceuil-couleur-bouton-quitter-hover: #942c21;
  --acceuil-couleur-texte-fond: rgba(52, 52, 52, 0.5);
}

/* Couleurs composants section liens utiles */
:root {
  --liens-couleur-logo: #E6E6E6;
}

/* Couleurs composants section personnes ressources */
:root {
  --personnes-couleur-fond-carte: #FF9500;
  --personnes-couleur-border: #e6e6e6;
  --personnes-couleur-bg-boutons: #0D1220;
  --personnes-couleur-texte-boutons: #E6E6E6;
  --personnes-border-pivots-active: #FF9500;
  --personnes-flip-card-bg: #0D1220;
  --personnes-flip-card-front: #a15e00;
  --personnes-flip-card-border: #e6e6e6;
  --personnes-couleur-border-btn-active: #FF9500;
  --personnes-flip-card-front-titre-couleur: #e6e6e6;
}

/* Couleurs  composants section documents utiles */ // Couleurs modifiées
:root {
  --docs-couleur-dossier-1: #4CE054; 
  --docs-couleur-dossier-2: #46CE4D;
  --docs-couleur-dossier-3: #3CB142;
  --docs-couleur-dossier-4: #329437;
  --docs-couleur-dossier-5: #28772C;
  --docs-couleur-dossier-6: #1E5A21;
  --docs-couleur-dossier-7: #153C17;
  --docs-couleur-dossier-8: #0e270f;
  --docs-couleur-dossier-contour: #000000;
  --docs-couleur-dossier-fond: #E6E6E6;
}

/* Couleurs composants footer */
:root {
  --footer-couleur-fond: #555555;
  --footer-couleur-logo: #E6E6E6;
}
