
.search-container {
    position: fixed;
    top: 50px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background: var( --nav-recherche-couleur-fond);
    padding: 10px 20px;
    box-shadow: 0 0 40px rgba(0,0,0,0.3);
    transition: 0.5s ease-in-out;
}

.search-bar input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
    
}

.search-bar i{
    font-size: 25px;
    color: black;
}

.search-bar:hover{
    width: 400px;
}


