.search-form {
    position: fixed;
    top: 1rem;         
    left: 50%;             
    transform: translateX(-50%); 
    width: 3.75rem;
    height: 3.75rem;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    padding: 0.75rem;
    margin: 0;
    transition: width 0.5s, opacity 0.5s; 
    opacity: 0; /* hidden by default */
    pointer-events: none; 
    z-index: 9999;
   
}



.search-input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    font-size: small;
    font-size: 30px;
    font-family: var(--texte-default);
    pointer-events: none;
}

.search-button {
    width: 3rem;
    height: 3rem;
    background-color: var( --couleur-fond);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.5s;
}

.search-icon,
.search-close {
  position: absolute;
  font-size: 1.25rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-close {
  opacity: 0;
}

/* Active Search */

.active-search {
  max-width: 100%;
  width: 20rem;
}

.active-search .search-button {
  left: calc(100% - 2rem);
}

.active-search .search-input {
  pointer-events: initial;
}

.active-search .search-close {
  opacity: 1;
}

.active-search .search-icon {
  opacity: 0;
}

.search-form.visible {
    opacity: 1;
    pointer-events: auto; /* allow interaction */
}