* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TITRES, TEXTES */
h1 {
  font-family: var(--texte-titre);
  color: var(--couleur-texte-titre);
}
h2 {
  font-family: var(--texte-default);
  color: var(--couleur-texte-default);
}

/* BODY */
body {
  overflow-x: hidden;
  background-color: var(--couleur-fond);
}
